server { 
    listen 8080;
    root ./www; #serve file from(comments are ignored in parsing)
    index index.html;

    error_page 404 ./www/errors/404.html;
    error_page 405 ./www/errors/405.html;
    error_page 403 ./www/errors/403.html;

    location / {
        methods GET DELETE ;
    }

    location /images {
        root ./www/images;
        methods GET ;
    }

    location /old {
        return 301 /new;
    }
}

server {
    listen 9090;
    root ./www;
    index index.html;

    location / {
        methods GET DELETE ;
    }
}